.nav-container {
    /* background-color: aliceblue; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.side-pane {
    background-image: linear-gradient(to left, rgba(89, 104, 117, 0.904), rgba(191, 204, 216, 0.904));
    background-color: black;
    border-radius: 0px;
    
}

.main-content {
    /* background-image: linear-gradient(white, blue); */
    /* background-image: linear-gradient(to right, red , yellow); */
    /* background-image: linear-gradient(to right, rgba(83, 148, 209, 0.904), rgb(37, 154, 184)); */
}

.nav-events {
    width: 500px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
}

.side-nav-llm-address-field {
    width: 300px;
    padding-left: 5%;
    /* height: 90px; */
}

.side-nav-llm-model-options {
    width: 300px;
    padding-left: 5%;
}

.side-nav-light-dark-button {
    width: 300px;
    padding-left: 5%;
    /* text-align:center; */
}

.side-nav-options-button {
    /* padding-left: 5%;
    padding-top:5%; */
    /* margin-bottom:5%; */
    /* height: 500px; */
    width: 20px;
    /* height: 40px; */
    flex-grow: 1; /* Allows the button to grow and fill available space */
    background-color: rgba(0, 0, 0, 0);
    color: rgba(50, 50, 50, 255);
    /* visibility:hidden; */
    border-radius: 0px;
}

.side-nav-options-button:hover {
  /* Styles applied on hover */
  width: 40px;
  /* height: 40px; */
  background-color: rgb(126, 126, 126);
  cursor: pointer;
}

.options-button-flex-container {
    display: flex;
    flex-direction: column; /* Or row, depending on your layout */
    height: 100vh; /* Example: fill viewport height */
}

/* div.dark {
    background-color: black;
    color: white;
}

div.light {
    background-color: white;
    color: black;
}

p.dark {
    background-color: black;
    color:white;
}

p.light {
    background-color: white;
    color:black;
} */