.scrollable-container {
    height: 200px;
    overflow-y: scroll;
    /* overflow-x: auto; for horizontal scrolling if needed */
    border: 1px solid #555;
    margin-right: 10%;
    margin-left: 10%;
    /* text-align:center; */
}

.status-label {
    margin-right: 5%;
    margin-left: 5%;
}

.status-container {
    height: 25px;
    margin-right: 5%;
    margin-left: 5%;
    overflow-y: scroll;
    overflow-x: auto;
    border: 1px solid #555;
    /* text-align:center; */
}

.prompt-form-field {
    height: 200px;
    width: 100%;
    /* margin-right: 10%; */
    overflow-x: auto;
    overflow-y: scroll;
}

.prompt-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.prompt-submit-button {
    margin-bottom: 5px;
    /* text-align:center; */
}

.response-clear-button {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5%;
    margin-left: 5%;
}

.response-container {
    height: 40%;
    overflow-y: scroll;
    /* overflow-x: auto; for horizontal scrolling if needed */
    border: 1px solid #555;
    margin-right: 5%;
    margin-left: 5%;
    white-space: pre;
}

.center-text {
    text-align:center;
}