div.dark {
    background-color: rgb(24, 24, 24);
    color: white;
}

div.light {
    background-color: white;
    color: black;
}

p.dark {
    background-color: rgb(24, 24, 24);
    color:white;
}

p.light {
    background-color: white;
    color:black;
}