.black-white-gradient-background-container {
    background-image: url('../assets/images/app-background-container-gradient-bw.jpg'); /* Adjust path as needed */
    background-size: cover; /* Optional: Adjust image sizing */
    background-repeat: no-repeat; /* Optional: Prevent image repetition */
    background-position: center center; /* Optional: Center the image */
    height: 100vh; /* Example: Full viewport height */
    width: 100%; /* Example: Full width */
}

.pink-green-gradient-background-container {
    background-image: url('../assets/images/app-background-container-gradient-pink-green.jpg'); /* Adjust path as needed */
    background-size: cover; /* Optional: Adjust image sizing */
    background-repeat: no-repeat; /* Optional: Prevent image repetition */
    background-position: center center; /* Optional: Center the image */
    height: 100vh; /* Example: Full viewport height */
    width: 100%; /* Example: Full width */
}

.default-app {
    /* background-color:aqua; */
    /* padding: 10%;
    margin: 10%; */
    margin: 0%;
    padding: 0%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}